
<h3>Details about Trip # <%= @trip.id %></h3>

<ul>
  <li>
    Trip ID: <%= @trip.id%>
  </li>
  <li>
    Driver Name: <%= link_to("#{@trip.driver.name}", driver_path(@trip.driver.id)) %>
  </li>
  <li>
    Passenger Name: <%= link_to("#{@trip.passenger.name}", passenger_path(@trip.passenger.id)) %>
  </li>
  </li>
  <li>
    Total Cost: $<%= @trip.total_cost %>
  </li>
  <li>
    Rating: <%= @trip.rating %>
  </li>
  <li>
    <div><%= link_to( "Edit", edit_trip_path(@trip) )%></div>
  </li>
</ul>
