<h3>Details about our favorite driver,  <%= @driver.name %></h3>

<ul>
  <li>
    Driver ID: <%= @driver.id %>
  </li>
  <li>
    Name: <%= @driver.name %>
  </li>
  <li>
    Car Make: <%= @driver.car_make %>
  </li>
  <li>
    Car Model: <%= @driver.car_model %>
  </li>
  <li>
    Total Earnings: $<%= @driver.total_earnings %>
  </li>
  <li>
    Average Rating: <%= @driver.average_rating %>
  </li>
  <li>
    Last Trip: <%= @driver.last_trip %>
  </li>
</ul>

<%= link_to("Edit", edit_driver_path(@driver)) %>

<%= render partial: "layouts/ride_table", locals: { title: "Driver"}%>
