<h3>Total Earnings</h3>
<%= @driver.total_earnings %>

<h3>Average Rating</h3>
<%= @driver.average_rating %>

<h3>Last Trip</h3>
<%= @driver.last_trip %>

<section>Driver Trips</section>
<%= @trips.each do |t| %>
  <ul>
    <li><%= t.id %></li>
    <li><%= t.date %></li>
    <li><%= t.driver.name %></li>
    <li><%= t.passenger.name %></li>
    <li><%= t.cost %></li>
    <li><%= t.rating %></li>

  </ul>
<% end %>
