
<section class=trips><h3><%=title%> Trips</h3>
  <ul class=labels>
    <li>ID</li>
    <li>Trip Date</li>
    <li>Driver Name</li>
    <li>Passenger Name</li>
    <li>Cost</li>
    <li>Rating</li>
  </ul>
<% @trips.each do |t| %>
  <ul>
    <li><%= link_to("#{t.id}", trip_path(t.id)) %></li>
    <li><%= t.date %></li>
    <li><%= t.driver.name %></li>
    <li><%= t.passenger.name %></li>
    <li><%= t.cost %></li>
    <li><%= t.rating %></li>
  </ul>
<% end %>
</section>
