
<section class=trips><h3><%=title%> Trips</h3>
  <ul class=labels>
    <li>ID</li>
    <li>Trip Date</li>
    <li>Driver Name</li>
    <li>Passenger Name</li>
    <li>Cost</li>
    <li>Rating</li>
  </ul>
<% @trips.each do |t| %>
  <ul>
    <li><%= link_to("#{t.id}", trip_path(t.id)) %></li>
    <li><%= t.date %></li>
    <li><%= link_to(t.driver.name, driver_path(t.driver)) %></li>
    <li><%= link_to(t.passenger.name, passenger_path(t.passenger)) %></li>
    <li>$<%= t.total_cost %></li>
    <li><%= t.rating %></li>
  </ul>
<% end %>
</section>
